@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap);
.userdatastyle{
    width: 1200px;
    padding: 20px;
    margin-top: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: relative;
    top: -10px;  
}
.data{
    text-align: center;
    width: 250px;
    border-radius: 9px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
}
.buttons{
    position: relative;
    bottom: -15px;  
}
.title{
    font-family: 'Roboto', sans-serif;
    font-family: 'Playfair Display', serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
    font-size: medium;
    width: 240px;
    height: 70px;
    overflow-x: auto;
    text-align:justify; 
    border-radius: 9px;
    background-color: gray;
}
.title::-webkit-scrollbar {
    display: none;
}
.body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Playfair Display', serif;
    padding: 20px;
    margin-top: 30px;
    font-size: small;
    width: 240px;
    height: 150px;
    overflow-x: auto;
    text-align:justify; 
}
.body::-webkit-scrollbar {
    display: none;
}
.editbutton{
    width: 30px;
    margin-left: 10px;
    background:white;
    border: 0;
    border-radius: 100%;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
}

.deletebutton{
    padding-left: 4px;
    align-content: center;
    width: 30px;
    margin-left: 180px;
    background: white;
    border: 0;
    border-radius: 100%;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
}





